/* layout */



html
{
	margin: 0;
	/* setting border: 0 hoses ie6 win window inner well border */
	padding: 0;
}

body
{
	padding: 0;
	margin: 0;
	color: #000000;
	background: #ffffff;
	font-family:Verdana, Helvetica, sans-serif;
	font-weight: normal;
	font-size: small;
	line-height: 150%;
}

#container { 
	position: relative;
	width: 800px;
	margin: 0 auto;
	text-align: left;
 }

#page {
	position: relative;
	text-align: left;
	margin: 10px;
	padding-top: 10px;
}

#header {
position: relative;
text-align: right;
}

/* basic elements */

form { margin: 0; padding: 0; }
a { text-decoration: underline; }
a img { border: 0; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; } 
h1, h2, h3, h4, h5, h6, p, ol, ul, pre, blockquote
{
	margin-top: 10px;
	margin-bottom: 10px;
}





/* navigator */

.menu {

}
.menubox {
	padding: 0;
}
.menu ul {
	margin: 0 auto;
	padding: 0 0 18px 0;
	background-color: transparent;
}
.menu li {
	list-style-type: none;
	display: inline;
}

.menu li a {
	color: #959595;
	padding: 2px 10px;
	display: block;
	float: right;
	text-decoration: none;
	border: 1px solid #CCCCCC;
	margin: 0 .5em 0 0;
}

.menu li a:hover,
.menu li a:active,
.menu li a:focus {
	color: #000000;
	border-color: #6B6B6B;
}

/* slidemenu */

.slidemenu {
width: 300px;
padding-right: 110px;
margin: 0 auto;
/*border: 1px solid black;*/

}
.slidemenubox {
padding: 0;
}
.slidemenu ul {
	margin: 0 auto;
	padding: 0 0 18px 0;
	background-color: transparent;
}
.slidemenu li {
	list-style-type: none;
	display: inline;
}

.slidemenu li a {
	color: #959595;
	padding: 2px 10px;
	display: block;
	float: right;
	text-decoration: none;
	border: 1px solid #CCCCCC;
	margin: 0 .5em 0 0;
}

.slidemenu li a:hover,
.slidemenu li a:active,
.slidemenu li a:focus {
	color: #000000;
	border-color: #6B6B6B;
}

/* igal */

.thumb {
  padding: 0 25px;
  text-align: center;
  vertical-align: middle;
}

.slide {
  text-align: center;
  vertical-align: middle;
}
.center { 
  text-align: center;
}

.center table { 
margin-left: auto;
margin-right: auto; 
  text-align: center;
}

.small { text-align: right; font-size: .75em; }


/* slideindex */

.slideindex

{ 
margin-left: -150px;  /* this is an ugly hack, easier than fixing things properly */
}
